@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "../../../Mixins/Mixin";


/*Variables à modifier*/
$gris:#f6f6f6;
$violet:#9356dc;
$rose:#ff79da;

.Card{
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #03222E, #0085C2);
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
    @include dimensions(90%, none);
    text-decoration: none;
    @media all and (min-width: 992px) {
        @include margin-package(none, none, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, none, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, none, 4%, 4%);
    }
}

.Card-image-border{
    @media all and (min-width: 992px) {
        @include dimensions(50%, 250px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(60%, 250px);
    }
    @media all and (min-width: 301px) and (max-width: 767px) {
        @include dimensions(40%, 160px);
    }
    @media all and (max-width: 300px) {
        @include dimensions(40%, 150px);
    }
    overflow: hidden;
    /*border-radius: 10px;*/
    border-radius: 10px 0px 0px 10px;
}

.Card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(170px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(170px, none);
    }
    @media all and (min-width: 301px) and (max-width: 767px) {
        @include dimensions(110px, none);
    }
    @media all and (max-width: 300px) {
        @include dimensions(100px, none);
    }
}

.Card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media all and (min-width: 992px) {
        @include dimensions(45%, 245px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(45%, 235px);
    }
    @media all and (min-width: 301px) and (max-width: 767px) {
        @include dimensions(55%, 150px);
    }
    @media all and (max-width: 301px) {
        @include dimensions(60%, 140px);
    }
    text-align: left;
}

/*.black-dust{
    @include dimensions(30px, auto);
}*/

/*.black-dust-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.starline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(120px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(115px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(105px, none);
    }
    gap: 5px;
}

.gray-star{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(15px, normal);
    }
    color: #03222E;
    /*color: linear-gradient(to bottom right, #03222E, #0085C2);*/
}

.orange-star{
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(15px, normal);
    }
    color: #00BFFF;
}

.clock-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include dimensions(90%, none);
}

.Card-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include dimensions(none, 170px);
    @include margin-package(none, 10px, none, none);
}

.Card-title1{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(17px, normal);
    }
    color: white;
}

.Card-title2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    line-height: 10px;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(19px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(15px, normal);
    }
    color: white;
}


/*Partie à modifier lors du travail sur les cartes*/
.card-logo {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
    text-align: right;
    &_dimensions{
        @media all and (min-width: 992px) {
            @include dimensions(35px, 35px);
            @include margin-package(none, none, 70%, none);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(35px, 35px);
            @include margin-package(none, none, 70%, none);
        }
        @media all and (max-width: 767px) {
            @include dimensions(30px, 30px);
            @include margin-package(none, none, 70%, none);
        }
    }
    &_aspect{
        /*font-size: 24px;
        font-style: normal;*/
        color: black;
    }
}

.animation-like{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    &:hover >.like1{
      opacity: 1;
    }
    &:hover >.like2{
      opacity: 0;
    }
}

.like1{
    position: absolute;
    z-index: 2;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(26px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(26px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(24px, normal);
    }
    color: #00BFFF;
    background-clip: text; /* Couleur du texte, ici le logo */
    /*color: transparent;*/ /* le texte, ici le logo, n'est plus noir mais transparent pour laisser place à l'autre couleur */
    opacity: 0;
    transition: all 550ms;
}

.like2{
    position: absolute;
    z-index: 1;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(22px, normal);
    }
    color: #03222E;
    opacity: 1;
    transition: all 550ms;
}