@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
/*Variables à modifier*/
.Card {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #03222E, #0085C2);
  cursor: pointer;
  box-shadow: 5px 5px 20px black;
  width: 90%;
  height: none;
  text-decoration: none;
}
@media all and (min-width: 992px) {
  .Card {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Card {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .Card {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 4%;
    margin-right: 4%;
  }
}

.Card-image-border {
  overflow: hidden;
  /*border-radius: 10px;*/
  border-radius: 10px 0px 0px 10px;
}
@media all and (min-width: 992px) {
  .Card-image-border {
    width: 50%;
    height: 250px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Card-image-border {
    width: 60%;
    height: 250px;
  }
}
@media all and (min-width: 301px) and (max-width: 767px) {
  .Card-image-border {
    width: 40%;
    height: 160px;
  }
}
@media all and (max-width: 300px) {
  .Card-image-border {
    width: 40%;
    height: 150px;
  }
}

.Card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 992px) {
  .Card-image {
    width: 170px;
    height: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Card-image {
    width: 170px;
    height: none;
  }
}
@media all and (min-width: 301px) and (max-width: 767px) {
  .Card-image {
    width: 110px;
    height: none;
  }
}
@media all and (max-width: 300px) {
  .Card-image {
    width: 100px;
    height: none;
  }
}

.Card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
@media all and (min-width: 992px) {
  .Card-text {
    width: 45%;
    height: 245px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Card-text {
    width: 45%;
    height: 235px;
  }
}
@media all and (min-width: 301px) and (max-width: 767px) {
  .Card-text {
    width: 55%;
    height: 150px;
  }
}
@media all and (max-width: 301px) {
  .Card-text {
    width: 60%;
    height: 140px;
  }
}

/*.black-dust{
    @include dimensions(30px, auto);
}*/
/*.black-dust-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
.starline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media all and (min-width: 992px) {
  .starline {
    width: 120px;
    height: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .starline {
    width: 115px;
    height: none;
  }
}
@media all and (max-width: 767px) {
  .starline {
    width: 105px;
    height: none;
  }
}

.gray-star {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #03222E;
  /*color: linear-gradient(to bottom right, #03222E, #0085C2);*/
}
@media all and (min-width: 992px) {
  .gray-star {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .gray-star {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .gray-star {
    font-family: "EB Garamond", serif;
    font-size: 15px;
    font-weight: normal;
  }
}

.orange-star {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00BFFF;
}
@media all and (min-width: 992px) {
  .orange-star {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .orange-star {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .orange-star {
    font-family: "EB Garamond", serif;
    font-size: 15px;
    font-weight: normal;
  }
}

.clock-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: none;
}

.Card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: none;
  height: 170px;
  margin-top: none !important;
  margin-bottom: 10px !important;
  margin-left: none;
  margin-right: none;
}

.Card-title1 {
  color: white;
}
@media all and (min-width: 992px) {
  .Card-title1 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Card-title1 {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .Card-title1 {
    font-family: "EB Garamond", serif;
    font-size: 17px;
    font-weight: normal;
  }
}

.Card-title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  line-height: 10px;
  color: white;
}
@media all and (min-width: 992px) {
  .Card-title2 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Card-title2 {
    font-family: "EB Garamond", serif;
    font-size: 19px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .Card-title2 {
    font-family: "EB Garamond", serif;
    font-size: 15px;
    font-weight: normal;
  }
}

/*Partie à modifier lors du travail sur les cartes*/
.card-logo {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*align-items: flex-end;*/
  text-align: right;
}
@media all and (min-width: 992px) {
  .card-logo_dimensions {
    width: 35px;
    height: 35px;
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 70%;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .card-logo_dimensions {
    width: 35px;
    height: 35px;
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 70%;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .card-logo_dimensions {
    width: 30px;
    height: 30px;
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 70%;
    margin-right: none;
  }
}
.card-logo_aspect {
  /*font-size: 24px;
  font-style: normal;*/
  color: black;
}

.animation-like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.animation-like:hover > .like1 {
  opacity: 1;
}
.animation-like:hover > .like2 {
  opacity: 0;
}

.like1 {
  position: absolute;
  z-index: 2;
  color: #00BFFF;
  -webkit-background-clip: text;
          background-clip: text; /* Couleur du texte, ici le logo */
  /*color: transparent;*/ /* le texte, ici le logo, n'est plus noir mais transparent pour laisser place à l'autre couleur */
  opacity: 0;
  transition: all 550ms;
}
@media all and (min-width: 992px) {
  .like1 {
    font-family: "EB Garamond", serif;
    font-size: 26px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .like1 {
    font-family: "EB Garamond", serif;
    font-size: 26px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .like1 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: normal;
  }
}

.like2 {
  position: absolute;
  z-index: 1;
  color: #03222E;
  opacity: 1;
  transition: all 550ms;
}
@media all and (min-width: 992px) {
  .like2 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .like2 {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .like2 {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: normal;
  }
}/*# sourceMappingURL=Card.css.map */