@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "../Mixins/Mixin";


/*Variables à modifier*/
$gris:#f6f6f6;
$violet:#9356dc;
$rose:#ff79da;

.Card{
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #03222E, #0085C2);
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
    @include dimensions(90%, none);
    @media all and (min-width: 992px) {
        @include margin-package(none, none, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, none, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, none, 4%, 4%);
    }
}

.Card-image-border{
    @media all and (min-width: 992px) {
        @include dimensions(60%, 300px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(60%, 250px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(60%, 250px);
    }
    overflow: hidden;
    border-radius: 10px;
}

.Card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(200px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(170px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(170px, none);
    }
}

.Card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media all and (min-width: 992px) {
        @include dimensions(45%, 270px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(45%, 220px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(45%, 220px);
    }
    text-align: left;
}

.black-dust{
    @include dimensions(30px, auto);
}

.black-dust-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include dimensions(90%, none);
}

.Card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include dimensions(none, 170px);
    @include margin-package(none, 10px, none, none);
}

.Card-title1{
    @include syntaxe-garamond(24px, normal);
    color: white;
}

.Card-title2{
    @include syntaxe-garamond(18px, normal);
    color: white;
}


/*Partie à modifier lors du travail sur les cartes*/
.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &_dimensions{
        @include dimensions(55px, 55px);
    }
    &_aspect{
        font-size: 24px;
        font-style: normal;
        color: black;
    }
}

.animation-coeur{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:hover >.coeur1{
      opacity: 1;
    }
    &:hover >.coeur2{
      opacity: 0;
    }
}

.coeur1{
    position: absolute;
    z-index: 2;
    font-size: 24px;
    background: linear-gradient($violet, $rose);
    background-clip: text; /* Couleur du texte, ici le logo */
    color: transparent; /* le texte, ici le logo, n'est plus noir mais transparent pour laisser place à l'autre couleur */
    opacity: 0;
    transition: all 550ms;
}

.coeur2{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    color: black;
    opacity: 1;
    transition: all 550ms;
}