@import "../../../Mixins/Mixin";

.Favorite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_dimensions{
        @include dimensions(100%, auto);
    }
}

.favorite-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 992px) {
        gap: 40px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        gap: 30px;
    }
    @media all and (max-width: 767px) {
        gap: 20px;
    }
    @include dimensions(100%, auto);
    background-image: url("../../../assets/backgroung_sky_resize2.png");
    @include padding-package(350px, 100px, none, none);
}

.favorite-list h3{
    z-index: 5;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(32px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(28px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(24px, normal);
    }
    color: black;
}

.favorite-card{
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(80%, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(85%, auto);
    }
    @media all and (max-width: 767px) {
        @include dimensions(87%, auto);
    }
    background: linear-gradient(to bottom right, #03222E, #0085C2);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    @include padding-package(none, none, none, 3%);
}

.Movie-Image-Border{
    @media all and (min-width: 992px) {
        @include dimensions(80px, 120px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(65px, 100px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(55px, 80px);
    }
    overflow: hidden;
}

.favorite-card-informations{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(70%, none);
        gap: 5%;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(70%, none);
        gap: 5%;
    }
    @media all and (max-width: 767px) {
        @include dimensions(85%, none);
        gap: 5%;
    }
}

.Movie-Image{
    @media all and (min-width: 992px) {
        @include dimensions(none, 120px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(none, 100px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(none, 85px);
    }
}

.Favorite-card-title{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(16px, normal);
    }
    color: white;
}

.Favorite-card-trash-border{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #000000, #696969);
    box-shadow: 5px 5px 20px black;
    border-radius: 50%;
    @media all and (min-width: 992px) {
        @include dimensions(35px, 35px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(30px, 30px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(25px, 25px);
    }
}

.Favorite-card-trash{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(18px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(14px, normal);
    }
    color: white;
}