@import "../Mixins/Mixin";

.cloudy-transition1{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(100%, 1000px);
    @include margin-package(-150px, -900px, none, none);
}

.cloudy-transition2{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(100%, 1000px);
    @include margin-package(-800px, -150px, none, none);
}

.cloudy{
    @include dimensions(100%, 1000px);
}