.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Home_dimensions {
  width: 100%;
  height: auto;
}

.Home-title {
  z-index: 3;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: none;
}

/*ToolListing*/
.forms {
  position: absolute;
  display: flex;
}
@media all and (min-width: 992px) {
  .forms {
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .forms {
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media all and (max-width: 767px) {
  .forms {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
  }
}
@media all and (min-width: 992px) {
  .forms_dimensions {
    width: 95%;
    height: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .forms_dimensions {
    width: 95%;
    height: none;
  }
}
@media all and (max-width: 767px) {
  .forms_dimensions {
    width: 100%;
    height: none;
  }
}
@media all and (min-width: 992px) {
  .forms_border {
    margin-top: none !important;
    margin-bottom: 150px !important;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .forms_border {
    margin-top: none !important;
    margin-bottom: 150px !important;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .forms_border {
    margin-top: none !important;
    margin-bottom: 100px !important;
    margin-left: none;
    margin-right: none;
  }
}

.listOpen-custom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
@media all and (min-width: 992px) {
  .listOpen-custom {
    width: 30%;
    height: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .listOpen-custom {
    width: 30%;
    height: auto;
  }
}
@media all and (max-width: 767px) {
  .listOpen-custom {
    width: 90%;
    height: auto;
  }
}

.listClose-custom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
@media all and (min-width: 992px) {
  .listClose-custom {
    width: 17%;
    height: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .listClose-custom {
    width: 25%;
    height: auto;
  }
}
@media all and (max-width: 767px) {
  .listClose-custom {
    width: 80%;
    height: auto;
  }
}

.titles-color {
  z-index: 6;
  background: linear-gradient(to bottom right, #483d8b, #ff79da);
}

.directors-color {
  z-index: 6;
  background: linear-gradient(to bottom right, #191970, #00BFFF);
}

.producers-color {
  z-index: 6;
  background: linear-gradient(to bottom right, #006400, #32CD32);
}

.listBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
@media all and (min-width: 992px) {
  .listBtn {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .listBtn {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .listBtn {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (min-width: 992px) {
  .listBtn {
    width: 95%;
    height: 40px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .listBtn {
    width: 92%;
    height: 40px;
  }
}
@media all and (max-width: 767px) {
  .listBtn {
    width: 95%;
    height: 40px;
  }
}
@media all and (min-width: 992px) {
  .listBtn {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .listBtn {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .listBtn {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: normal;
  }
}

/*mini searchbar*/
.minisearchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media all and (min-width: 992px) {
  .minisearchbar {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 10%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .minisearchbar {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 10%;
  }
}
@media all and (max-width: 767px) {
  .minisearchbar {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 2%;
  }
}
@media all and (min-width: 992px) {
  .minisearchbar_dimensions {
    width: 70%;
    height: 70px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .minisearchbar_dimensions {
    width: 92%;
    height: 40px;
  }
}
@media all and (max-width: 767px) {
  .minisearchbar_dimensions {
    width: 75%;
    height: 50px;
  }
}

.minisearch-request {
  border: none;
  background-color: #d6d6d6;
  padding-top: none !important;
  padding-bottom: none !important;
  padding-left: 2%;
  padding-right: none;
  color: black;
  border-radius: 10px;
}
@media all and (min-width: 992px) {
  .minisearch-request {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .minisearch-request {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 767px) {
  .minisearch-request {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (min-width: 992px) {
  .minisearch-request_dimensions {
    width: 90%;
    height: 35px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .minisearch-request_dimensions {
    width: 82%;
    height: 25px;
  }
}
@media all and (max-width: 767px) {
  .minisearch-request_dimensions {
    width: 90%;
    height: 35px;
  }
}

.minilogo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .minilogo-container {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 2%;
  }
}
@media all and (max-width: 767px) {
  .minilogo-container {
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 4%;
  }
}

.minisearchbar-logo {
  color: white;
}
@media all and (min-width: 992px) {
  .minisearchbar-logo {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: bold;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .minisearchbar-logo {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: bold;
  }
}
@media all and (max-width: 767px) {
  .minisearchbar-logo {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: bold;
  }
}

.filterBtn {
  text-align: left;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "EB Garamond", serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media all and (min-width: 992px) {
  .filterBtn {
    width: 80%;
    height: 40px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .filterBtn {
    width: 80%;
    height: 40px;
  }
}
@media all and (max-width: 767px) {
  .filterBtn {
    width: 80%;
    height: 40px;
  }
}

.listElements {
  padding-top: none !important;
  padding-bottom: 10px !important;
  padding-left: 4%;
  padding-right: none;
  display: grid;
}
@media all and (min-width: 992px) {
  .listElements {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .listElements {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 301px) and (max-width: 767px) {
  .listElements {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 300px) {
  .listElements {
    grid-template-columns: 1fr 1fr;
  }
}

.card-collection {
  display: grid;
  background-image: url("../../assets/backgroung_sky_resize2.png");
}
@media all and (min-width: 992px) {
  .card-collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 451px) and (max-width: 991px) {
  .card-collection {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 450px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 768px) {
  .card-collection_dimensions {
    width: 92%;
    height: auto;
  }
}
@media all and (max-width: 767px) {
  .card-collection_dimensions {
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 992px) {
  .card-collection_border {
    padding-top: 100px !important;
    padding-bottom: 90px !important;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .card-collection_border {
    padding-top: 100px !important;
    padding-bottom: 90px !important;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media all and (max-width: 767px) {
  .card-collection_border {
    padding-top: 170px !important;
    padding-bottom: none !important;
    padding-left: none;
    padding-right: none;
  }
}
@media all and (min-width: 992px) {
  .card-collection_gap {
    -moz-column-gap: 3%;
         column-gap: 3%;
    row-gap: 85px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .card-collection_gap {
    -moz-column-gap: 3%;
         column-gap: 3%;
    row-gap: 60px;
  }
}
@media all and (max-width: 767px) {
  .card-collection_gap {
    -moz-column-gap: none;
         column-gap: none;
    row-gap: 30px;
  }
}/*# sourceMappingURL=Home.css.map */