.Home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_dimensions{
        width: 100%;
        height: 3000px;
    }
}

.Home-title{
    z-index: 3;
}