@import "../../../Mixins/Mixin";

.MoviePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_dimensions{
        @include dimensions(100%, auto);
    }
}

.MovieData{
    background-image: url("../../../assets/backgroung_sky_resize2.png");
    /*@include margin-package(200px, 700px, none, none);*/
    @include padding-package(200px, 100px, none, none);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_dimensions{
        @include dimensions(100%, auto);
    }
}

.Movie-Banner-border{
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media all and (min-width: 992px) {
        @include margin-package(50px, 50px, none, none);
        @include dimensions(95%, 700px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(50px, 50px, none, none);
        @include dimensions(95%, 500px);
    }
    @media all and (min-width: 461px) and (max-width: 767px) {
        @include margin-package(20px, 20px, none, none);
        @include dimensions(95%, 400px);
    }
    @media all and (max-width: 460px) {
        @include margin-package(20px, 20px, none, none);
        @include dimensions(95%, 200px);
    }
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.Movie-Banner{
    @media all and (min-width: 992px) {
        @include dimensions(none, 850px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(none, 520px);
    }
    @media all and (min-width: 461px) and (max-width: 767px) {
        @include dimensions(none, 410px);
    }
    @media all and (max-width: 460px) {
        @include dimensions(none, 250px);
    }
}

.Movie-Article{
    z-index: 5;
    display: flex;
    @media all and (min-width: 992px) {
        justify-content: space-between;
        align-items: center;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        justify-content: space-between;
        align-items: center;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    @include dimensions(85%, auto);
    /*background-color: rgb(0, 0, 0, 0.8);*/
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #03222E, #0085C2);
    @include padding-package(30px, 30px, 4%, 4%);
    /*@include margin-package(none, 50px, none, none);*/
}

.Article-Banner{
    @media all and (min-width: 992px) {
        @include dimensions(40%, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(40%, auto);
    }
    @media all and (max-width: 767px) {
        @include dimensions(85%, auto);
    }
}

.Article-text{
    @media all and (min-width: 992px) {
        @include dimensions(45%, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(45%, auto);
    }
    @media all and (max-width: 767px) {
        @include dimensions(85%, auto);
    }
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(20px, normal);
        line-height: 30px;
        @include padding-package(15px, 15px, 4%, 4%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(18px, normal);
        line-height: 30px;
        @include padding-package(15px, 15px, 4%, 4%);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(14px, normal);
        line-height: 20px;
        @include padding-package(5px, 5px, 4%, 4%);
    }
    text-align: justify;
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 5px 5px 20px black;
}

.Article-List{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    @include dimensions(100%, auto);
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(22px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(18px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(14px, normal);
    }
    color: white;
}

.List-text{
    text-align: left;
}


.Article-title{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(36px, normal);
        line-height: 10px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(30px, normal);
        line-height: 10px;
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(24px, normal);
        line-height: 30px;
    }
    color: white;
}

.Article-subtitle{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
        line-height: 30px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
        line-height: 30px;
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(16px, normal);
        line-height: 10px;
    }
    color: white;
}