@import "../Mixins/Mixin";

.Banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(100%, 1200px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(100%, 1000px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(100%, 850px);
    }
    background: linear-gradient(#308EDE, #73E2FD);
    overflow: hidden;
}


.castlebody{
    @media all and (min-width: 992px) {
        @include dimensions(700px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(450px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(250px, none);
    }
}

.castlehelix1{
    @media all and (min-width: 992px) {
        @include dimensions(70px, none);
        @include margin-package(none, 38px, -245px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(50px, none);
        @include margin-package(none, 24px, -160px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(28px, none);
        @include margin-package(none, 13px, -89px, none);
    }
}

.castlehelix2{
    @media all and (min-width: 992px) {
        @include dimensions(18px, none);
        @include margin-package(none, 94px, -68px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(12px, none);
        @include margin-package(none, 61px, -47px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(7px, none);
        @include margin-package(none, 34px, -26px, none);
    }
}

.castleflag{
    @media all and (min-width: 992px) {
        @include dimensions(20px, none);
        @include margin-package(none, 372px, -210px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(15px, none);
        @include margin-package(none, 238px, -134px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(10px, none);
        @include margin-package(none, 133px, -76px, none);
    }
}

.castleclothes{
    @media all and (min-width: 992px) {
        @include dimensions(75px, none);
        @include margin-package(none, 202px, 148px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(48px, none);
        @include margin-package(none, 128px, 93px, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(28px, none);
        @include margin-package(none, 68px, 48px, none);
    }
}

.castle-content{
    z-index: 3;
    @media all and (min-width: 1192px) {
        @include dimensions(890px, none);
        @include margin-package(none, -65%, none, none);
    }
    @media all and (min-width: 992px) and (max-width: 1191px) {
        @include dimensions(890px, none);
        @include margin-package(none, -105%, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(690px, none);
        @include margin-package(none, -115%, none, none);
    }
    @media all and (min-width: 450px) and (max-width: 767px) {
        @include dimensions(390px, none);
        @include margin-package(none, -105%, none, none);
    }
    @media all and (max-width: 449px) {
        @include dimensions(390px, none);
        @include margin-package(none, -160%, none, none);
    }
}


.castle-translation{
    animation: castletranslate 20000ms linear;
    animation-iteration-count: infinite;
}

.castle-helix-rotation1{
    animation: castlehelixrotate1 50ms linear;
    animation-iteration-count: infinite;
}

.castle-helix-rotation2{
    animation: castlehelixrotate2 80ms linear;
    animation-iteration-count: infinite;
}

.castle-flag-scaling{
    animation: flagscaling 800ms linear;
    animation-iteration-count: infinite;
}

.castle-clothes-scaling{
    animation: clothesscaling 900ms linear;
    animation-iteration-count: infinite;
}


@keyframes castletranslate{
    0%{
        transform: translate(100%, 50%);
    }

    100%{
        transform: translate(-150%, -50%);
    }
}

@keyframes castlehelixrotate1{
    0%{
        transform: rotate(-25deg);
    }

    25%{
        transform: rotate(-12deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-12deg);
    }

    100%{
        transform: rotate(-25deg);
    }
}

@keyframes castlehelixrotate2{
    0%{
        transform: rotate(35deg);
    }

    25%{
        transform: rotate(17deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-17deg);
    }

    100%{
        transform: rotate(-35deg);
    }
}

@keyframes flagscaling{
    0%{
        transform: scale(0.9, 1.1);
        transform-origin: 5% 0%;
    }

    25%{
        transform: scale(1, 1);
        transform-origin: 5% 0%;
    }

    50%{
        transform: scale(1.1, 0.9);
        transform-origin: 5% 0%;
    }

    75%{
        transform: scale(1, 1);
        transform-origin: 5% 0%;
    }

    100%{
        transform: scale(0.9, 1.1);
        transform-origin: 5% 0%;
    }
}

@keyframes clothesscaling{
    0%{
        transform: scale(0.98, 1);
        transform-origin: 5% 0%;
    }

    25%{
        transform: scale(1, 1);
        transform-origin: 5% 0%;
    }

    50%{
        transform: scale(1.02, 1);
        transform-origin: 5% 0%;
    }

    75%{
        transform: scale(1, 1);
        transform-origin: 5% 0%;
    }

    100%{
        transform: scale(0.98, 1);
        transform-origin: 5% 0%;
    }
}

/*Clouds*/

.sky-cloud-background{
    @media all and (min-width: 992px) {
        @include dimensions(90%, 1900px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(100%, 1500px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(120%, 900px);
    }
}

.sky-cloud-background-content{
    @media all and (min-width: 992px) {
        @include margin-package(none, -800px, none, -30%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, -900px, none, -30%);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, -550px, none, -30%);
    }
}

/*Moving cloud*/

.moving-cloud1{
    z-index: 4;
    @include dimensions(60%, none);
    /*@include margin-package(none, -5px, none, -70%);*/
    @media all and (min-width: 1192px) {
        @include margin-package(none, 5%, none, -70%);
    }
    @media all and (min-width: 992px) and (max-width: 1191px) {
        @include margin-package(none, 15%, none, -70%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, 15%, none, -70%);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 25%, none, -70%);
    }
    /*border: 1px yellow solid;*/
    opacity: 0.45;
}

.moving-cloud2{
    z-index: 1;
    @include dimensions(20%, none);
    /*border: 1px blue solid;*/
    /*@include margin-package(none, -50px, none, -70%);*/
    @media all and (min-width: 1192px) {
        @include margin-package(none, 10%, none, -70%);
    }
    @media all and (min-width: 992px) and (max-width: 1191px) {
        @include margin-package(none, 10%, none, -70%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, 10%, none, -70%);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 10%, none, -70%);
    }
    opacity: 0.75;
}

.moving-cloud3{
    z-index: 1;
    @include dimensions(60%, none);
    /*border: 1px green solid;*/
    /*@include margin-package(none, -450px, none, none);*/
    @media all and (min-width: 1192px) {
        @include margin-package(none, -40%, none, none);
    }
    @media all and (min-width: 992px) and (max-width: 1191px) {
        @include margin-package(none, -40%, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, -40%, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, -1%, none, none);
    }
    opacity: 0.55;
}

.moving-cloud4{
    z-index: 4;
    @include dimensions(80%, none);
    /*border: 1px red solid;*/
    @media all and (min-width: 1192px) {
        @include margin-package(none, -1%, none, none);
    }
    @media all and (min-width: 992px) and (max-width: 1191px) {
        @include margin-package(none, -1%, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, -5%, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 20%, none, none);
    }
    opacity: 0.55;
}

.moving-clouds-content{
    /*z-index: 2;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*margin-bottom: -1350px;*/
    /*@include dimensions(100%, 900px);*/
    @include dimensions(100%, 120%);
    /*border: 1px green solid;*/
    @media all and (min-width: 1192px) {
        @include margin-package(none, -100%, none, none);
    }
    @media all and (min-width: 992px) and (max-width: 1191px) {
        @include margin-package(none, -125%, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, -95%, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, -175%, none, none);
    }
}

.cloud-translation1{
    animation: cloud-translation2 25000ms linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;  
}

.cloud-translation2{
    animation: cloud-translation2 30000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 5000ms;
    animation-fill-mode: backwards;  
}

.cloud-translation3{
    animation: cloud-translation1 70000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 5000ms;
    animation-fill-mode: backwards;  
}

.cloud-translation4{
    animation: cloud-translation1 80000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 7000ms;
    animation-fill-mode: backwards;  
}


@keyframes cloud-translation1 {

    0% { 
        transform: translateX(500%); 
    }

    100% { 
        transform: translateX(-500%); 
    }
}

@keyframes cloud-translation2 {

    0% { 
        transform: translateX(120%); 
    }

    100% { 
        transform: translateX(-120%); 
    }
}


/* SearchBar */

.searchbar{
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #03222E, #0085C2);
    @media all and (min-width: 992px) {
        @include margin-package(none, 70px, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, 70px, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 40px, none, none);
    }
    box-shadow: 1px 1px 10px black;
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(70%, 70px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(85%, 50px);
        }
    }
}

.search-request{
    border: none;
    background-color: #d6d6d6;
    @media all and (min-width: 992px) {
        @include margin-package(auto, auto, 5%, auto);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(auto, auto, 5%, auto);
    }
    @media all and (max-width: 767px) {
        @include margin-package(auto, auto, 10%, auto);
    }
    @include syntaxe-garamond(20px, normal);
    color: black;
    border-radius: 10px;
    &_dimensions{
        @media all and (min-width: 992px) {
            @include dimensions(90%, 45px);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(82%, 50px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(82%, 35px);
        }
    }
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
        @include margin-package(none, none, none, 2%);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, none, none, 4%);
    }
}

.searchbar-logo{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(30px, bold);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(26px, bold);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(22px, bold);
    }
    color: white;
}




/*ToolListing*/

.forms{
    z-index: 4;
    display: flex;
    align-items: center;
    @media all and (min-width: 992px) {
        justify-content: space-around;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        justify-content: space-around;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-around;
        row-gap: 10px;
    }
    &_dimensions{
        @media all and (min-width: 992px) {
            @include dimensions(90%, none);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(90%, none);
        }
        @media all and (max-width: 767px) {
            @include dimensions(100%, none);
        }
    }
    &_border{
        @media all and (min-width: 992px) {
            @include margin-package(none, 150px, none, none);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include margin-package(none, 150px, none, none);
        }
        @media all and (max-width: 767px) {
            @include margin-package(none, 100px, none, none);
        }
    }
}

.list-custom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 992px) {
        @include dimensions(200px, 40px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(130px, 40px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(300px, 40px);
    }
    border-radius: 10px;
    border: none;
    cursor: pointer;
    @include syntaxe-garamond(20px, normal);
    color: white;
    box-shadow: 1px 1px 10px black;
}

.titles-color{
    background: linear-gradient(to bottom right, #483d8b, #ff79da);
}

.directors-color{
    background: linear-gradient(to bottom right, #191970, #00BFFF);
}

.producers-color{
    background: linear-gradient(to bottom right, #006400, #32CD32);
}