.Banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(#308EDE, #73E2FD);
  overflow: hidden;
}
@media all and (min-width: 992px) {
  .Banner {
    width: 100%;
    height: 1200px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Banner {
    width: 100%;
    height: 1000px;
  }
}
@media all and (max-width: 767px) {
  .Banner {
    width: 100%;
    height: 850px;
  }
}

@media all and (min-width: 992px) {
  .castlebody {
    width: 700px;
    height: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .castlebody {
    width: 450px;
    height: none;
  }
}
@media all and (max-width: 767px) {
  .castlebody {
    width: 250px;
    height: none;
  }
}

@media all and (min-width: 992px) {
  .castlehelix1 {
    width: 70px;
    height: none;
    margin-top: none;
    margin-bottom: 38px;
    margin-left: -245px;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .castlehelix1 {
    width: 50px;
    height: none;
    margin-top: none;
    margin-bottom: 24px;
    margin-left: -160px;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .castlehelix1 {
    width: 28px;
    height: none;
    margin-top: none;
    margin-bottom: 13px;
    margin-left: -89px;
    margin-right: none;
  }
}

@media all and (min-width: 992px) {
  .castlehelix2 {
    width: 18px;
    height: none;
    margin-top: none;
    margin-bottom: 94px;
    margin-left: -68px;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .castlehelix2 {
    width: 12px;
    height: none;
    margin-top: none;
    margin-bottom: 61px;
    margin-left: -47px;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .castlehelix2 {
    width: 7px;
    height: none;
    margin-top: none;
    margin-bottom: 34px;
    margin-left: -26px;
    margin-right: none;
  }
}

@media all and (min-width: 992px) {
  .castleflag {
    width: 20px;
    height: none;
    margin-top: none;
    margin-bottom: 372px;
    margin-left: -210px;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .castleflag {
    width: 15px;
    height: none;
    margin-top: none;
    margin-bottom: 238px;
    margin-left: -134px;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .castleflag {
    width: 10px;
    height: none;
    margin-top: none;
    margin-bottom: 133px;
    margin-left: -76px;
    margin-right: none;
  }
}

@media all and (min-width: 992px) {
  .castleclothes {
    width: 75px;
    height: none;
    margin-top: none;
    margin-bottom: 202px;
    margin-left: 148px;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .castleclothes {
    width: 48px;
    height: none;
    margin-top: none;
    margin-bottom: 128px;
    margin-left: 93px;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .castleclothes {
    width: 28px;
    height: none;
    margin-top: none;
    margin-bottom: 68px;
    margin-left: 48px;
    margin-right: none;
  }
}

.castle-content {
  z-index: 3;
}
@media all and (min-width: 1192px) {
  .castle-content {
    width: 890px;
    height: none;
    margin-top: none;
    margin-bottom: -65%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1191px) {
  .castle-content {
    width: 890px;
    height: none;
    margin-top: none;
    margin-bottom: -105%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .castle-content {
    width: 690px;
    height: none;
    margin-top: none;
    margin-bottom: -115%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 450px) and (max-width: 767px) {
  .castle-content {
    width: 390px;
    height: none;
    margin-top: none;
    margin-bottom: -105%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 449px) {
  .castle-content {
    width: 390px;
    height: none;
    margin-top: none;
    margin-bottom: -160%;
    margin-left: none;
    margin-right: none;
  }
}

.castle-translation {
  animation: castletranslate 20000ms linear;
  animation-iteration-count: infinite;
}

.castle-helix-rotation1 {
  animation: castlehelixrotate1 50ms linear;
  animation-iteration-count: infinite;
}

.castle-helix-rotation2 {
  animation: castlehelixrotate2 80ms linear;
  animation-iteration-count: infinite;
}

.castle-flag-scaling {
  animation: flagscaling 800ms linear;
  animation-iteration-count: infinite;
}

.castle-clothes-scaling {
  animation: clothesscaling 900ms linear;
  animation-iteration-count: infinite;
}

@keyframes castletranslate {
  0% {
    transform: translate(100%, 50%);
  }
  100% {
    transform: translate(-150%, -50%);
  }
}
@keyframes castlehelixrotate1 {
  0% {
    transform: rotate(-25deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
@keyframes castlehelixrotate2 {
  0% {
    transform: rotate(35deg);
  }
  25% {
    transform: rotate(17deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-17deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@keyframes flagscaling {
  0% {
    transform: scale(0.9, 1.1);
    transform-origin: 5% 0%;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: 5% 0%;
  }
  50% {
    transform: scale(1.1, 0.9);
    transform-origin: 5% 0%;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: 5% 0%;
  }
  100% {
    transform: scale(0.9, 1.1);
    transform-origin: 5% 0%;
  }
}
@keyframes clothesscaling {
  0% {
    transform: scale(0.98, 1);
    transform-origin: 5% 0%;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: 5% 0%;
  }
  50% {
    transform: scale(1.02, 1);
    transform-origin: 5% 0%;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: 5% 0%;
  }
  100% {
    transform: scale(0.98, 1);
    transform-origin: 5% 0%;
  }
}
/*Clouds*/
@media all and (min-width: 992px) {
  .sky-cloud-background {
    width: 90%;
    height: 1900px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .sky-cloud-background {
    width: 100%;
    height: 1500px;
  }
}
@media all and (max-width: 767px) {
  .sky-cloud-background {
    width: 120%;
    height: 900px;
  }
}

@media all and (min-width: 992px) {
  .sky-cloud-background-content {
    margin-top: none;
    margin-bottom: -800px;
    margin-left: none;
    margin-right: -30%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .sky-cloud-background-content {
    margin-top: none;
    margin-bottom: -900px;
    margin-left: none;
    margin-right: -30%;
  }
}
@media all and (max-width: 767px) {
  .sky-cloud-background-content {
    margin-top: none;
    margin-bottom: -550px;
    margin-left: none;
    margin-right: -30%;
  }
}

/*Moving cloud*/
.moving-cloud1 {
  z-index: 4;
  width: 60%;
  height: none;
  /*@include margin-package(none, -5px, none, -70%);*/
  /*border: 1px yellow solid;*/
  opacity: 0.45;
}
@media all and (min-width: 1192px) {
  .moving-cloud1 {
    margin-top: none;
    margin-bottom: 5%;
    margin-left: none;
    margin-right: -70%;
  }
}
@media all and (min-width: 992px) and (max-width: 1191px) {
  .moving-cloud1 {
    margin-top: none;
    margin-bottom: 15%;
    margin-left: none;
    margin-right: -70%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .moving-cloud1 {
    margin-top: none;
    margin-bottom: 15%;
    margin-left: none;
    margin-right: -70%;
  }
}
@media all and (max-width: 767px) {
  .moving-cloud1 {
    margin-top: none;
    margin-bottom: 25%;
    margin-left: none;
    margin-right: -70%;
  }
}

.moving-cloud2 {
  z-index: 1;
  width: 20%;
  height: none;
  /*border: 1px blue solid;*/
  /*@include margin-package(none, -50px, none, -70%);*/
  opacity: 0.75;
}
@media all and (min-width: 1192px) {
  .moving-cloud2 {
    margin-top: none;
    margin-bottom: 10%;
    margin-left: none;
    margin-right: -70%;
  }
}
@media all and (min-width: 992px) and (max-width: 1191px) {
  .moving-cloud2 {
    margin-top: none;
    margin-bottom: 10%;
    margin-left: none;
    margin-right: -70%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .moving-cloud2 {
    margin-top: none;
    margin-bottom: 10%;
    margin-left: none;
    margin-right: -70%;
  }
}
@media all and (max-width: 767px) {
  .moving-cloud2 {
    margin-top: none;
    margin-bottom: 10%;
    margin-left: none;
    margin-right: -70%;
  }
}

.moving-cloud3 {
  z-index: 1;
  width: 60%;
  height: none;
  /*border: 1px green solid;*/
  /*@include margin-package(none, -450px, none, none);*/
  opacity: 0.55;
}
@media all and (min-width: 1192px) {
  .moving-cloud3 {
    margin-top: none;
    margin-bottom: -40%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1191px) {
  .moving-cloud3 {
    margin-top: none;
    margin-bottom: -40%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .moving-cloud3 {
    margin-top: none;
    margin-bottom: -40%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .moving-cloud3 {
    margin-top: none;
    margin-bottom: -1%;
    margin-left: none;
    margin-right: none;
  }
}

.moving-cloud4 {
  z-index: 4;
  width: 80%;
  height: none;
  /*border: 1px red solid;*/
  opacity: 0.55;
}
@media all and (min-width: 1192px) {
  .moving-cloud4 {
    margin-top: none;
    margin-bottom: -1%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1191px) {
  .moving-cloud4 {
    margin-top: none;
    margin-bottom: -1%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .moving-cloud4 {
    margin-top: none;
    margin-bottom: -5%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .moving-cloud4 {
    margin-top: none;
    margin-bottom: 20%;
    margin-left: none;
    margin-right: none;
  }
}

.moving-clouds-content {
  /*z-index: 2;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*margin-bottom: -1350px;*/
  /*@include dimensions(100%, 900px);*/
  width: 100%;
  height: 120%;
  /*border: 1px green solid;*/
}
@media all and (min-width: 1192px) {
  .moving-clouds-content {
    margin-top: none;
    margin-bottom: -100%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1191px) {
  .moving-clouds-content {
    margin-top: none;
    margin-bottom: -125%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .moving-clouds-content {
    margin-top: none;
    margin-bottom: -95%;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .moving-clouds-content {
    margin-top: none;
    margin-bottom: -175%;
    margin-left: none;
    margin-right: none;
  }
}

.cloud-translation1 {
  animation: cloud-translation2 25000ms linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.cloud-translation2 {
  animation: cloud-translation2 30000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 5000ms;
  animation-fill-mode: backwards;
}

.cloud-translation3 {
  animation: cloud-translation1 70000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 5000ms;
  animation-fill-mode: backwards;
}

.cloud-translation4 {
  animation: cloud-translation1 80000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 7000ms;
  animation-fill-mode: backwards;
}

@keyframes cloud-translation1 {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-500%);
  }
}
@keyframes cloud-translation2 {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-120%);
  }
}
/* SearchBar */
.searchbar {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #03222E, #0085C2);
  box-shadow: 1px 1px 10px black;
}
@media all and (min-width: 992px) {
  .searchbar {
    margin-top: none;
    margin-bottom: 70px;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .searchbar {
    margin-top: none;
    margin-bottom: 70px;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .searchbar {
    margin-top: none;
    margin-bottom: 40px;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) {
  .searchbar_dimensions {
    width: 70%;
    height: 70px;
  }
}
@media all and (max-width: 767px) {
  .searchbar_dimensions {
    width: 85%;
    height: 50px;
  }
}

.search-request {
  border: none;
  background-color: #d6d6d6;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  border-radius: 10px;
}
@media all and (min-width: 992px) {
  .search-request {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .search-request {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: auto;
  }
}
@media all and (max-width: 767px) {
  .search-request {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: auto;
  }
}
@media all and (min-width: 992px) {
  .search-request_dimensions {
    width: 90%;
    height: 45px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .search-request_dimensions {
    width: 82%;
    height: 50px;
  }
}
@media all and (max-width: 767px) {
  .search-request_dimensions {
    width: 82%;
    height: 35px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .logo-container {
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 2%;
  }
}
@media all and (max-width: 767px) {
  .logo-container {
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 4%;
  }
}

.searchbar-logo {
  color: white;
}
@media all and (min-width: 992px) {
  .searchbar-logo {
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: bold;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .searchbar-logo {
    font-family: "EB Garamond", serif;
    font-size: 26px;
    font-weight: bold;
  }
}
@media all and (max-width: 767px) {
  .searchbar-logo {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: bold;
  }
}

/*ToolListing*/
.forms {
  z-index: 4;
  display: flex;
  align-items: center;
}
@media all and (min-width: 992px) {
  .forms {
    justify-content: space-around;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .forms {
    justify-content: space-around;
  }
}
@media all and (max-width: 767px) {
  .forms {
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
  }
}
@media all and (min-width: 992px) {
  .forms_dimensions {
    width: 90%;
    height: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .forms_dimensions {
    width: 90%;
    height: none;
  }
}
@media all and (max-width: 767px) {
  .forms_dimensions {
    width: 100%;
    height: none;
  }
}
@media all and (min-width: 992px) {
  .forms_border {
    margin-top: none;
    margin-bottom: 150px;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .forms_border {
    margin-top: none;
    margin-bottom: 150px;
    margin-left: none;
    margin-right: none;
  }
}
@media all and (max-width: 767px) {
  .forms_border {
    margin-top: none;
    margin-bottom: 100px;
    margin-left: none;
    margin-right: none;
  }
}

.list-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  box-shadow: 1px 1px 10px black;
}
@media all and (min-width: 992px) {
  .list-custom {
    width: 200px;
    height: 40px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .list-custom {
    width: 130px;
    height: 40px;
  }
}
@media all and (max-width: 767px) {
  .list-custom {
    width: 300px;
    height: 40px;
  }
}

.titles-color {
  background: linear-gradient(to bottom right, #483d8b, #ff79da);
}

.directors-color {
  background: linear-gradient(to bottom right, #191970, #00BFFF);
}

.producers-color {
  background: linear-gradient(to bottom right, #006400, #32CD32);
}/*# sourceMappingURL=Banner.css.map */