@import "../Mixins/Mixin";


.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    &_dimensions{
        /*@include dimensions(100%, 21480px);*/
        @include dimensions(100%, auto);
        /*@media all and (min-width: 992px) {
            @include dimensions(100%, 2480px);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(100%, 1300px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(100%, 610px);
        }*/
    }
}

.fog-container{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(145%, none);
    @include margin-package(none, -145%, none, none);
}

.fog{
    @include dimensions(100%, none);
    opacity: 0.7;
}

.forest-container{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(100%, none);
    @include margin-package(none, -33%, none, none);
}

.forest{
    @include dimensions(100%, none);
}

.rocks{
    z-index: 2;
    @include dimensions(100%, none);
}

.kodamas{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include dimensions(100%, none);
    @include margin-package(none, -13%, none, none);

}



.kodama1{
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    @include dimensions(5%, none);
    @include margin-package(none, -5%, 9%, none);
}



.kodama1-head{
    z-index: 5;
    @include margin-package(none, -92%, none, none);

    @include dimensions(95%, none);
    filter: brightness(0.9);
}

.kodama1-body{
    z-index: 4;
    @include dimensions(100%, none);
    filter: brightness(0.9);
}






.kodama2{
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    @include dimensions(5%, none);

    @include margin-package(none, 9%, none, 10%);
}

.kodama2-head{
    z-index: 5;

    @include margin-package(none, -77%, none, none);

    @include dimensions(75%, none);
    filter: brightness(0.9);
}

.kodama2-body{
    z-index: 4;
    @include dimensions(100%, none);
    filter: brightness(0.9);
}







.kodama3{
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    @include dimensions(5%, none);

    @include margin-package(none, 7%, none, 16%);
}


.kodama3-head{
    z-index: 5;

    @include margin-package(none, -107%, none, none);
    @include dimensions(100%, none);
    filter: brightness(0.9);
}

.kodama3-body{
    z-index: 4;
    @include dimensions(100%, none);
    filter: brightness(0.9);
}




.kodama1-head-animation{
    animation: left-head-nodding 5000ms linear,
                kodamaOpacity 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 2000ms;
}

.kodama1-body-animation{
    animation: brightness 5000ms linear,
                kodamaOpacity 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 2000ms;
}



.kodama2-head-animation{
    animation: right-head-nodding 5000ms linear,
                kodamaOpacity 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 5000ms;
}

.kodama2-body-animation{
    animation: brightness 5000ms linear,
                kodamaOpacity 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 5000ms;
}





.kodama3-head-animation{
    animation: right-head-nodding 5000ms linear,
                kodamaOpacity 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 8000ms;
}


.kodama3-body-animation{
    animation: brightness 5000ms linear,
                kodamaOpacity 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 8000ms;
}



@keyframes kodamaOpacity{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    55%{
        opacity: 0.3;
    }

    60%{
        opacity: 0;
    }

    90%{
        opacity: 0;
    }

    95%{
        opacity: 0.3;
    }

    100%{
        opacity: 1;
    }
}



@keyframes brightness{
    0%{
        filter: brightness(0.9);
    }

    25%{
        filter: brightness(1.3);
    }

    50%{
        filter: brightness(0.9);
    }
}





@keyframes left-head-nodding {

    0%   { 
        transform: rotate(0deg); 
        filter: brightness(0.9);
    }
    6% { 
        transform: rotate(15deg); 
    }
    12% { 
        transform: rotate(45deg); 
    }
    15% { 
        transform: rotate(60deg); 
    }
    18% { 
        transform: rotate(80deg); 
    }
    25%  { 
        transform: rotate(90deg);
        filter: brightness(1.3); 
    }
    27% { 
        transform: rotate(-90deg); 
    }

    $i:14%;
    @for $i from 14% through 18%{
        #{2*$i}{
            transform: rotate(80deg);
        }

        #{2*$i+1}{
            transform: rotate(-80deg);
        }
    }

    42% { 
        transform: rotate(40deg); 
    }
    47% { 
        transform: rotate(35deg); 
    }
    50% { 
        transform: rotate(0deg); 
        filter: brightness(0.9);
    } 
}




@keyframes right-head-nodding {

    0%   { 
        transform: rotate(0deg); 
        filter: brightness(0.9);
    }
    6% { 
        transform: rotate(-15deg); 
    }
    12% { 
        transform: rotate(-45deg); 
    }
    15% { 
        transform: rotate(-60deg); 
    }
    18% { 
        transform: rotate(-80deg); 
    }
    25%  { 
        transform: rotate(-90deg);
        filter: brightness(1.3); 
    }
    27% { 
        transform: rotate(90deg); 
    }

    $i:14%;
    @for $i from 14% through 18%{
        #{2*$i}{
            transform: rotate(-80deg);
        }

        #{2*$i+1}{
            transform: rotate(80deg);
        }
    }

    42% { 
        transform: rotate(-40deg); 
    }
    47% { 
        transform: rotate(-35deg); 
    }
    50% { 
        transform: rotate(0deg); 
        filter: brightness(0.9);
    } 
}



.backgroundClouds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include dimensions(200%, none);
}

.clouds-stage1{
    z-index: 2;
    @include margin-package(none, -140%, none, none);
}

.clouds-stage2{
    z-index: 5;
    @include margin-package(none, -40%, none, none);
}

.backgroundCloud1{
    @include dimensions(100%, none);
    @include margin-package(none, none, none, -20%);
}

.backgroundCloud2{
    @include dimensions(100%, none);
    @include margin-package(none, none, -20%, none);
}







.backgroundClouds2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include dimensions(200%, none);
    /*border: 1px red solid;*/
}

.clouds-stage3{
    z-index: 5;
    @include margin-package(-26%, none, none, none);
}

.backgroundCloud3{
    @include dimensions(100%, none);
    /*opacity: 0.3;*/
}

.backgroundCloud4{
    @include dimensions(100%, none);
    /*opacity: 0.3;*/
}






.cloud-animation1{
    animation: cloud-fog 10000ms linear;
    animation-iteration-count: infinite;
}

.cloud-animation2{
    animation: cloud-fog 10000ms linear;
    animation-iteration-count: infinite;
    animation-delay: 2000ms;
}

@keyframes cloud-fog {

    0% { 
        transform: translateX(50%); 
        opacity: 0;
    }
    12% {
        /*transform: translateX(37%); */
        opacity: 0.1;
    }
    25% { 
       /* transform: translateX(25%); */
        opacity: 0.20;
    }
    37% { 
        /*transform: translateX(12%); */
        opacity: 0.30;
    }
    50% { 
        transform: translateX(0%); 
        opacity: 0.30;
    }
    62% { 
       /* transform: translateX(-12%); */
        opacity: 0.30;
    }
    75% { 
        /*transform: translateX(-25%); */
        opacity: 0.30;
    }
    87% { 
        /*transform: translateX(-37%); */
        opacity: 0.15;
    }
    100% { 
        transform: translateX(-50%); 
        opacity: 0;
    }
}