@charset "UTF-8";
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.footer_dimensions {
  width: 100%;
  height: auto;
}

.fog-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145%;
  height: none;
  margin-top: none !important;
  margin-bottom: -145% !important;
  margin-left: none;
  margin-right: none;
}

.fog {
  width: 100%;
  height: none;
  opacity: 0.7;
}

.forest-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: none;
  margin-top: none !important;
  margin-bottom: -33% !important;
  margin-left: none;
  margin-right: none;
}

.forest {
  width: 100%;
  height: none;
}

.rocks {
  z-index: 2;
  width: 100%;
  height: none;
}

.kodamas {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: none;
  margin-top: none !important;
  margin-bottom: -13% !important;
  margin-left: none;
  margin-right: none;
}

.kodama1 {
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  height: none;
  margin-top: none !important;
  margin-bottom: -5% !important;
  margin-left: 9%;
  margin-right: none;
}

.kodama1-head {
  z-index: 5;
  margin-top: none !important;
  margin-bottom: -92% !important;
  margin-left: none;
  margin-right: none;
  width: 95%;
  height: none;
  filter: brightness(0.9);
}

.kodama1-body {
  z-index: 4;
  width: 100%;
  height: none;
  filter: brightness(0.9);
}

.kodama2 {
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  height: none;
  margin-top: none !important;
  margin-bottom: 9% !important;
  margin-left: none;
  margin-right: 10%;
}

.kodama2-head {
  z-index: 5;
  margin-top: none !important;
  margin-bottom: -77% !important;
  margin-left: none;
  margin-right: none;
  width: 75%;
  height: none;
  filter: brightness(0.9);
}

.kodama2-body {
  z-index: 4;
  width: 100%;
  height: none;
  filter: brightness(0.9);
}

.kodama3 {
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  height: none;
  margin-top: none !important;
  margin-bottom: 7% !important;
  margin-left: none;
  margin-right: 16%;
}

.kodama3-head {
  z-index: 5;
  margin-top: none !important;
  margin-bottom: -107% !important;
  margin-left: none;
  margin-right: none;
  width: 100%;
  height: none;
  filter: brightness(0.9);
}

.kodama3-body {
  z-index: 4;
  width: 100%;
  height: none;
  filter: brightness(0.9);
}

.kodama1-head-animation {
  animation: left-head-nodding 5000ms linear, kodamaOpacity 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 2000ms;
}

.kodama1-body-animation {
  animation: brightness 5000ms linear, kodamaOpacity 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 2000ms;
}

.kodama2-head-animation {
  animation: right-head-nodding 5000ms linear, kodamaOpacity 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 5000ms;
}

.kodama2-body-animation {
  animation: brightness 5000ms linear, kodamaOpacity 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 5000ms;
}

.kodama3-head-animation {
  animation: right-head-nodding 5000ms linear, kodamaOpacity 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 8000ms;
}

.kodama3-body-animation {
  animation: brightness 5000ms linear, kodamaOpacity 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 8000ms;
}

@keyframes kodamaOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes brightness {
  0% {
    filter: brightness(0.9);
  }
  25% {
    filter: brightness(1.3);
  }
  50% {
    filter: brightness(0.9);
  }
}
@keyframes left-head-nodding {
  0% {
    transform: rotate(0deg);
    filter: brightness(0.9);
  }
  6% {
    transform: rotate(15deg);
  }
  12% {
    transform: rotate(45deg);
  }
  15% {
    transform: rotate(60deg);
  }
  18% {
    transform: rotate(80deg);
  }
  25% {
    transform: rotate(90deg);
    filter: brightness(1.3);
  }
  27% {
    transform: rotate(-90deg);
  }
  28% {
    transform: rotate(80deg);
  }
  29% {
    transform: rotate(-80deg);
  }
  30% {
    transform: rotate(80deg);
  }
  31% {
    transform: rotate(-80deg);
  }
  32% {
    transform: rotate(80deg);
  }
  33% {
    transform: rotate(-80deg);
  }
  34% {
    transform: rotate(80deg);
  }
  35% {
    transform: rotate(-80deg);
  }
  36% {
    transform: rotate(80deg);
  }
  37% {
    transform: rotate(-80deg);
  }
  42% {
    transform: rotate(40deg);
  }
  47% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(0deg);
    filter: brightness(0.9);
  }
}
@keyframes right-head-nodding {
  0% {
    transform: rotate(0deg);
    filter: brightness(0.9);
  }
  6% {
    transform: rotate(-15deg);
  }
  12% {
    transform: rotate(-45deg);
  }
  15% {
    transform: rotate(-60deg);
  }
  18% {
    transform: rotate(-80deg);
  }
  25% {
    transform: rotate(-90deg);
    filter: brightness(1.3);
  }
  27% {
    transform: rotate(90deg);
  }
  28% {
    transform: rotate(-80deg);
  }
  29% {
    transform: rotate(80deg);
  }
  30% {
    transform: rotate(-80deg);
  }
  31% {
    transform: rotate(80deg);
  }
  32% {
    transform: rotate(-80deg);
  }
  33% {
    transform: rotate(80deg);
  }
  34% {
    transform: rotate(-80deg);
  }
  35% {
    transform: rotate(80deg);
  }
  36% {
    transform: rotate(-80deg);
  }
  37% {
    transform: rotate(80deg);
  }
  42% {
    transform: rotate(-40deg);
  }
  47% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(0deg);
    filter: brightness(0.9);
  }
}
.backgroundClouds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  height: none;
}

.clouds-stage1 {
  z-index: 2;
  margin-top: none !important;
  margin-bottom: -140% !important;
  margin-left: none;
  margin-right: none;
}

.clouds-stage2 {
  z-index: 5;
  margin-top: none !important;
  margin-bottom: -40% !important;
  margin-left: none;
  margin-right: none;
}

.backgroundCloud1 {
  width: 100%;
  height: none;
  margin-top: none !important;
  margin-bottom: none !important;
  margin-left: none;
  margin-right: -20%;
}

.backgroundCloud2 {
  width: 100%;
  height: none;
  margin-top: none !important;
  margin-bottom: none !important;
  margin-left: -20%;
  margin-right: none;
  overflow: hidden;
}

.backgroundClouds2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 200%;
  height: none;
}

.clouds-stage3 {
  z-index: 5;
  margin-top: -26% !important;
  margin-bottom: none !important;
  margin-left: none;
  margin-right: none;
}

.backgroundCloud3 {
  width: 100%;
  height: none;
}

.backgroundCloud4 {
  width: 100%;
  height: none;
}

.cloud-animation1 {
  animation: cloud-fog 10000ms linear;
  animation-iteration-count: infinite;
}

.cloud-animation2 {
  animation: cloud-fog 10000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 2000ms;
}

@keyframes cloud-fog {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  12% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.2;
  }
  37% {
    opacity: 0.3;
  }
  50% {
    transform: translateX(0%);
    opacity: 0.3;
  }
  62% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  87% {
    opacity: 0.15;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
/*Nuages brume (CSS nuages précédents à sûrement supprimer... faire le tri à la fin)*/
.moving_fog {
  z-index: 2;
  position: absolute;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: none;
  overflow: hidden;
}

.moving_fog1 {
  width: 200%;
  height: none;
}

.moving_fog2 {
  width: 250%;
  height: none;
}

.moving_fog3 {
  width: 250%;
  height: none;
}

.moving_fog4 {
  width: 270%;
  height: none;
}

.fog1-animation {
  animation: fog1-translation 30000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 10000ms;
  animation-fill-mode: backwards;
}

.fog2-animation {
  animation: fog2-translation 30000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 2000ms;
  animation-fill-mode: backwards;
}

.fog3-animation {
  animation: fog3-translation 30000ms linear;
  animation-iteration-count: infinite;
  animation-delay: 10000ms;
  animation-fill-mode: backwards;
}

.fog4-animation {
  animation: fog4-translation 30000ms linear;
  animation-iteration-count: infinite;
  /*animation-delay: 500ms;*/
  animation-fill-mode: backwards;
}

@keyframes fog1-translation {
  0% {
    transform: translate(80%, 110%);
  }
  100% {
    transform: translate(-80%, 110%);
  }
}
@keyframes fog2-translation {
  0% {
    transform: translate(70%, 130%);
  }
  100% {
    transform: translate(-70%, 130%);
  }
}
@keyframes fog3-translation {
  0% {
    transform: translate(70%, 135%);
  }
  100% {
    transform: translate(-70%, 135%);
  }
}
@keyframes fog4-translation {
  0% {
    transform: translate(70%, 50%);
  }
  100% {
    transform: translate(-70%, 50%);
  }
}/*# sourceMappingURL=Footer.css.map */