@import "../Mixins/Mixin";

.Header{
    z-index: 2;
    display: flex;
    align-items: center;
    @include dimensions(100%, 200px);
    background: linear-gradient(to bottom right, #0590D5, #06455E);
    @include margin-package(none, -200px, none, none);
    box-shadow: 0px 1px 20px black;
    @media all and (min-width: 768px) {
        justify-content: space-between;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
    }
}

.logo-ghibli{
    @media all and (min-width: 768px) {
        @include dimensions(none, 150px);
        @include margin-package(none, none, 2%, none);
    }
    @media all and (max-width: 767px) {
        @include dimensions(none, 130px);
        @include margin-package(none, none, none, none);
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 768px) {
        @include margin-package(none, none, none, 8%);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 20px, none, none);
    }
    &_dimensions{
        @media all and (min-width: 768px) {
            @include dimensions(40%, none);
        }
        @media all and (max-width: 767px) {
            @include dimensions(80%, none);
        }
    }
}

.menu-link{
    color: white;
    text-decoration: none;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(30px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(25px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(22px, normal);
    }
}

.menu-link:hover{
    color: white;
    text-decoration: none;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(30px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(25px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(22px, normal);
    }
}